body {
  background-color: #cccccc;
  font-size: 1.5rem;
}

html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 60%;
}

.section-margin {
  margin-top: 50px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.prod {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.product {
  background: #a5b7ab;
  padding: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}

.product img {
  width: 100%;
}

.product-content {
  padding: 0 2rem;
}

.product .product-title {
  font-size: 2rem;
}

.product-category,
.product-title,
.product-price-container,
.product-description {
  padding: 0.5rem 0;
}

.product-description {
  text-align: justify;
}

.product-price-container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart {
  background: #ea960b;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5%;
}

.sidfot{
  background-color: #131313;
  color: white;
  padding: 30px;
  margin-top: 100px;
}

.section-margin {
  margin-top: 50px;
}

.kolumn-padding{
  padding-bottom: 15px;
}

.navbar-brand{
  color: orange;
  letter-spacing: 3px;
  font-size: 30px;
  border: 2px solid #ea960b;
}

.nav-link {
  font-size: 20px;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
